.DateRangePicker {
  display: flex;
  gap: 10px;
  align-items: center;

  label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--text-secondary);
  }

  input {
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid var(--card-border);
    background-color: var(--card-bg);
    color: var(--text-primary);
    outline: none;
    font-size: 13px;
    transition:
            border-color 0.15s ease,
            box-shadow 0.15s ease,
            background-color 0.15s ease;

    &::placeholder {
      color: var(--text-secondary);
    }

    &:hover {
      border-color: var(--card-hover-border);
    }

    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 1px var(--primary-color);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .Error {
    color: var(--accent-color); // например, жёлтый/оранжевый из темы
    font-size: 11px;
    margin-left: 8px;
  }
}
