.DateRangePicker {
  display: flex;
  gap: 10px;
  align-items: center;

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 5px;
    border: 1px solid #ccc;

  }

  .Error {
    color: red;
    font-size: 12px;
  }
}
