.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px 0;
}

.items {
    margin-top: 12px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.items :global(a),
.items :global(button) {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

.items :global(svg) {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}


.items :global(span),
.items :global(.linkText) {
    flex: 1 1 auto;
    white-space: nowrap;
}

.switchers {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }


}
