.MetricCard {
  background: var(--card-bg);
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-primary);

  .TopRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  .IconTitle {
    display: flex;
    align-items: flex-start;
    flex: 1;

    .Icon {
      margin-right: 8px;
      display: flex;
      align-items: flex-start;
      margin-top: 2px;
    }

    .Title {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
    }
  }

  .CircleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }

  .BottomRow {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .Subtitle {
      color: var(--secondary-color);
    }

    .Increase {
      font-style: italic;
      color: var(--inverted-secondary-color);
    }
  }
}
