.app_blue_theme {
  --bg-color: #2f47ff;
  --inverted-bg-color: #F4F5FB;
  --primary-color:#F4F5FB;
  --secondary-color: #05B4FF;
  --inverted-primary-color: #F4F5FB;
  --inverted-secondary-color: #05B4FF;
}
