:root {
    --bg-color: #f4f7fa; /* Светло-серый с намёком на синий, нейтральный фон для таблиц */
    --inverted-bg-color: #1f2937; /* Тёмно-серый для ночного режима/inverted, не ярко-синий */
    --primary-color: #3b82f6; /* Мягкий синий для primary (кнопки, ссылки), но реже используй */
    --secondary-color: #6b7280; /* Серый для secondary (текст, borders), снижает "синеву" */
    --inverted-primary-color: #e1eee4; /* Зелёный для success/акцентов, добавляет разнообразие */
    --inverted-secondary-color: #4af196; /* Светло-серый для inverted текст, спокойный */
    --text-color: #111827; /* Тёмно-серый текст, не синий — для читаемости */
    --accent-color: #fbbf24; /* Жёлтый акцент для warnings/данных, как в трендах warm yellows */



    --card-bg: #ffffff;
    --card-border: #e5e7eb;           /* светлая граница */
    --card-hover-border: #1a0b2e;      /* твой любимый цвет при ховере */
    --text-primary: #1f2937;           /* тёмно-серый текст */
    --text-secondary: #4b5563;         /* серый */
    --accent: #1a0b2e;                 /* твой фиолетовый */
    --accent-light: #1200ff;           /* чуть ярче для иконок */


    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

}
