.SensorCard {
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: #1f2937;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0 0 12px;
    font-weight: 600;
  }

  .SensorCard__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 16px;

    h3 { margin: 0; }
  }

  .__icon {
    background: #e0e0e0;
    border-radius: 8px;
    flex-shrink: 0;
  }

  .SensorCard__body {
    flex: 1;
    display: flex;
    flex-direction: column;

    p {
      flex: 1;
      margin: 4px 0;
    }
  }

  &.full {
    padding: 20px;
    height: 500px;
    width: 40%;

    .__icon { width: 200px; height: 200px; }

    .SensorCard__header { flex: 2; }
    .SensorCard__header h3 { font: var(--font-xl); }

    .SensorCard__body p { font: var(--font-l); font-size: 22px; }
  }

  &.compact {
    padding: 20px;
    height: 300px;
    width: 30%;

    .__icon { width: 100px; height: 100px; }

    .SensorCard__header { flex: 2; gap: 1px; }
    .SensorCard__header h3 { font: var(--font-l); }

    .SensorCard__body p { font: var(--font-m); }
  }

  &.minimal {
    padding: 10px;
    height: 150px;
    width: 20%;

    .__icon { width: 50px; height: 50px; }

    .SensorCard__header { flex: 0.7; gap: 1px; }
    .SensorCard__header h3 { font: var(--font-l); }
    .SensorCard__body p { flex: 4;font: var(--font-m); }
  }
}
